<aside>
	<div class="panel radius">
        <!-- <h3>Tags</h3>

        <ul>
        {% for tag in site.tags %}
          {% if tag[0] == 'blog' %}
            {% continue %}
          {% endif %}
          <li><a style="font-size: 20pt" href="{{ site.url }}/notes/#{{ tag[0] }}">#{{ tag[0] }}  </a></li>
        {% endfor %}
        </ul> -->

        <h3>Tags</h3>
        {% assign tags = site.tags | sort %}
        {% for tag in tags %}
        <span class="site-tag">
            <a href="/tag/{{ tag | first | slugify }}/"
                style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                    {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
            </a>
        </span>
        {% endfor %}
		
	</div>
</aside>