<aside>
	<div class="panel radius">
		<h3>Categories</h3>
		{% include categories %}
	</div>

	<div class="panel radius">
		<h3>Tags</h3>
        {% include tags %}
	</div>
    
	<div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/qzJPSZ0mClSUw" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>

	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->

</aside>